.card {
  padding-top: 1px;
  padding-bottom: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  position: absolute;
  width: 100%;

}
.stack {
  border-radius: 10px;
}
li {
  width: 50%;
  /*height: 100%;*/
  list-style: none;
  background: #fff;
  border-radius: 5px;
  top: 15;
  left: 0;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 1px 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 100px;
  border: 5px solid #ECECEC;
  cursor: default;
}
